<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pingpongx.smb.warning.dal.mapper.BusinessAlertsUserMapper">

  <!--根据应用集合查询对应的应用负责人-->
  <select id="findUserByAppNames" resultType="com.pingpongx.smb.warning.dal.dataobject.BusinessAlertsUserMap" parameterType="java.util.List">
    select a.appName,u.userId,u.teamLeaderId,u.name,u.callingPrefix,u.phone,u.email from business_alerts_to_user a left join business_alerts_user u on a.userId
    = u.userId
    where a.flag = 1 and u.flag =1 and a.appName in
    <foreach collection="appNames" item="name" index="index" open="(" close=")" separator=",">
      #{name}
    </foreach>
  </select>

</mapper>
